square-button {
    div {
           
    
    border-radius: 4px;
    display: inline-block;
    line-height: 1em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-left: -13px;
    width: 69px;
    height: auto;
        
       .Mybadge{
           padding: 10px;
       }

       .badge-late{
           padding: 10px;
       }

        &.selected {
            background-color: #5CBCB9;
            color: #ffffff;
        }

        p{
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}
